@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-white: #FFFFFF;
  --color-gray-900: #48556A;
  --color-gray-500: #6E8098;
  --color-gray-400: #9DAEC2;
  --color-gray-300: #C5D0DD;
  --color-gray-200: #ECF2F8;

  --text-1: 1.25rem;
  --text-1--line-height: 1.3;
  --text-1--letter-spacing: 0.25px;
  --text-1--font-weight: 700;

  --text-2-bold: 0.8125rem;
  --text-2-bold--line-height: 1.4;
  --text-2-bold--letter-spacing: 0.0012em;
  --text-2-bold--font-weight: 700;

  --text-2-medium: 0.8125rem;
  --text-2-medium--line-height: 1.4;
  --text-2-medium--letter-spacing: 0.0012em;
  --text-2-medium--font-weight: 500;

  --text-3: 0.8125rem;
  --text-3--line-height: 1.5;
  --text-3--letter-spacing: 0.25em;
  --text-3--font-weight: 500;

  --breakpoint-lg: 90rem;

}

body {
  min-height: 100vh;
}
